// Home Page

// Laptop (1366x768)
@media (max-width: 1400px) and (max-height: 800px) {
   body .homePageSection {
      height: 85vh; // Adjust the height as needed for laptops
   }
}

// 13" Macbook Pro (1440x900) and 15" Macbook Pro (1680x1050)
@media (max-width: 1500px) and (max-height: 1000px) {
   body .homePageSection {
      height: 85vh; // Adjust the height as needed for 13" and 15" Macbook Pro
   }
}

// iPad Pro (1024x1366) and iPad Latest (1024x1366)
@media (min-device-width: 1024px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (max-device-height: 1366px) {
   body .homePageSection {
      height: 40vh; // Adjust as needed for iPad Pro and iPad Latest
   }
}

// iPad Mini (768x1024)
@media (min-device-width: 768px) and (max-device-width: 1024px) and (min-device-height: 768px) and (max-device-height: 1024px) {
   body .homePageSection {
      height: 40vh; // Adjust as needed for iPad Mini
   }
}

// iPad Air (820x1180)
@media (min-device-width: 820px) and (max-device-width: 1180px) and (min-device-height: 820px) and (max-device-height: 1180px) {
   body .homePageSection {
      height: 35vh; // Adjust as needed for iPad Air
   }
}
.homePageSection {
   height: 90vh;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

// Mute Button CSS
.mute-button {
   position: absolute;
   bottom: 10px; // Adjust as needed
   right: 10px; // Adjust as needed
   transition: transform 0.3s ease-in-out; // Smooth transition for the icon

   &:hover {
      transform: scale(1.1); // Slightly increase size on hover for a nice effect
   }
}

// Adding transitions to the icons themselves
.mute-button svg {
   transition: transform 0.3s ease-in-out;
}

// Apply a rotation effect when the state changes
.is-muted .mute-button svg {
   transform: rotate(180deg); // Rotate the icon when muted
}
